.container {
  display: flex;
  align-items: center;
  gap: var(--space-medium);

  > img {
    height: calc(var(--header-height) - var(--space-xx-large));
    width: auto;
  }
}

.inverted {
  filter: invert(1);
}
