.container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: var(--space-small);

  .mark {
    background-color: var(--col-pos);
  }

  .separator {
    height: 1px;
    background-color: var(--brd-pri);
  }

  .label {
    height: 8px;
    background-color: var(--bkg-pri-anti);
  }
}
