.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;

  .topLabel {
    flex-shrink: 0;
    height: 14px;
    font-size: 10px;
    color: var(--frt-sec);
    text-align: center;
    white-space: nowrap;
  }

  .barArea {
    position: relative;
    flex: 1;
    display: flex;
    align-items: flex-end;
    min-height: 0;
  }

  .bar {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .segment {
    width: 100%;
  }

  .regular {
    background-color: var(--col-pos);
  }

  .player {
    background-color: var(--col-acc);
  }

  .save {
    background-color: var(--frt-pri);
  }

  .error {
    background-color: var(--col-neg);
  }

  .startMarker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background-color: var(--col-acc);
  }

  .separator {
    flex-shrink: 0;
    height: 1px;
    background-color: var(--brd-pri);
  }

  .bottomLabel {
    flex-shrink: 0;
    height: 8px;
    background-color: var(--bkg-pri-anti);
  }

  &.live .bar {
    outline: 1px solid var(--col-acc);
  }
}
