.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-medium);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-small);
}

.controlGroup {
  display: flex;
  align-items: center;
  gap: var(--space-small);
}

.editor {
  flex: 1;
  resize: none;
  font-family: var(--font-mono);
  font-size: small;
  tab-size: 2;

  &.editorError {
    border: 1px solid var(--col-neg);
    border-radius: var(--border-radius);
  }
}

.error {
  color: var(--col-neg);
}
