.container {
  max-height: 900px;
  width: 100%;
  overflow-y: scroll;
  padding: var(--space-small);

  .line {
    display: flex;
    gap: var(--space-x-small);

    .timestamp {
      color: var(--col-acc);
      white-space: nowrap;
    }

    .text {
      padding-left: 2ch;
      text-indent: -2ch;
    }
  }

  > *:not(.scrollAnchor) {
    overflow-anchor: none;
  }

  > .scrollAnchor {
    height: 1px;
    overflow-anchor: auto;
  }

  @media screen and (min-width: 1024px) {
    max-height: unset;
  }
}
