.main {
  display: grid;
  grid-template-areas:
    "state"
    "status"
    "config"
    "info"
    "log";
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(300px, auto) auto auto;
  gap: var(--space-small);
  height: calc(100vh - var(--header-height));
  padding: var(--space-small);
  overflow-y: scroll;

  @media screen and (min-width: 1024px) {
    grid-template-areas:
      "state state log"
      "status status log"
      "status status log"
      "info config log"
      "info config log"
      "info config log"
      "info config log"
      "info config log"
      "info config log"
      "info config log"
      "info config log";
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(10, 1fr);
    overflow-y: unset;
  }
}

.state {
  grid-area: state;
}

.status {
  grid-area: status;
}

.info {
  grid-area: info;
}

.config {
  grid-area: config;
}

.log {
  grid-area: log;
}
