.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-medium);
  height: var(--header-height);
  padding: var(--space-medium);
  border-bottom: 1px solid var(--brd-pri);
}
