.container {
  flex: 1;
  display: grid;
  grid-template-areas:
    "status actions uptime"
    "status actions update";
  grid-template-columns: 100px auto 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  gap: var(--space-medium) var(--space-large);
}

.status {
  grid-area: status;
  justify-self: stretch;
  padding: var(--space-large);
  border: 1px solid var(--brd-pri);
  border-radius: var(--border-radius);
}

.uptime {
  grid-area: uptime;
  justify-self: end;

  .uptimeStarted {
    color: var(--frt-sec);
  }
}

.actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
}

.update {
  grid-area: update;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-x-small);

  .validateUpdate {
    display: flex;
    align-items: center;
    gap: var(--space-x-small);
  }
}
